* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #ff5722;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 { font-size: 2.5rem; }
h2 { margin: 20px 0; text-align: center; color: #333; }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    .card-content {
    padding: 15px;
    text-align: center;
    min-height: 170px;           /* Change this number to increase/decrease height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.video-container {
    margin: 30px 0;
    text-align: center;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}
.play-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.play-btn:hover {
    background: #e64a19;
}